import init.recovery.qcom_decrypt.rc

on init
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    start sarcheck

service sarcheck /sbin/sarcheck.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
